<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainmenu" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="mybold">Kan Bağış Merkezleri</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="bg" padding>


  <ion-card>
    <ion-list lines="inset">
      <ion-item *ngFor="let item of subeBilgiRef$ | async">
        <ion-label>

          <h2> Doktor İsmi: {{item.isim}} </h2>
          <h3> Telefon Numarası: {{item.gsm}} </h3>
          <h4> Şubesi: {{item.sube}} </h4>
          <h5> Adresi: {{item.adres}} </h5>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>