<ion-header no-border>
    <ion-toolbar class="myheader" >
        <ion-buttons slot="start">
            <ion-back-button defaultHref="mainmenu" color="light"></ion-back-button>
          </ion-buttons>
      <ion-title class="mybold">Sıkça<br> Sorular Sorular<br> </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="bg">
    <!-- List of Text Items -->
    <ion-card>
    <ion-list>
        
        <ion-item>
            <ion-label><p >Kimler kan bağışlayabilir ?</p>
             <h5 class="cevap"><br>18-68 Yaş arasında, ağırlığı en az 50 kg<br> ve üzerinde olan her sağlıklı birey<br> kan bağışında bulunabilir.</h5></ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label><p>Kan bağışlamamnın yaş aralığı<br> nedir ?</p>
             <h5 class="cevap"><br>Bağışçı 19 yaşından gün almış olmalı<br>  68 yaşını geçmemiş olmalıdır. </h5></ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label><p>Kilom kan bağışına engel midir ?</p>
             <h5 class="cevap"><br>Kan bağışlayabilmeniz için ağırlığınızın<br> en az 50 kg olması gerekir. </h5></ion-label>
          </ion-item>
  
  
          <ion-item>
            <ion-label><p>Tarama test sonuçlarım<br> bana bildirilecek mi ?</p>
             <h5 class="cevap"><br>Testler tarafımızdan<br> gerkçekleştirilmemektedir. </h5></ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label><p>Sarılık geçirdim,<br>kan bağışlayabilir miyim ?</p>
             <h5 class="cevap"><br>Hepatit A ve Hepatit E enfeksiyonu<br> geçirenler tedavi sürecini<br> tamamladıktan sonra 12 ay boyunca<br> kan bağışında bulunamaz.<br> Hepatit B ve C geçirenler ise<br> tedavilerini tamamlamış olsalar<br> dahi hiçbir zaman kan bağışında<br> bulunamazlar. </h5></ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label><p>Nerden kan bağışı alabilirim ?</p>
             <h5 class="cevap"><br>Bağışlarınızı Kan listesi menüsünden<br> size en uygun bağışçıyı'ya<br> ulaşarak isteyebilirsiniz.</h5></ion-label>
          </ion-item>
  
  
          <ion-item>
            <ion-label><p>Uygulama Türk Kızılay'ına mı ait ?</p>
             <h5 class="cevap"><br>Hayır.<br>Uygulama,<a href="/lisanslar">lisanslar </a> menüsünde ki<br>yazılımcılara aittir.</h5></ion-label>
          </ion-item>
  
  
      </ion-list>
    </ion-card> 
  </ion-content>
   
  
  
  
    