<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainmenu" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="mybold">Genel Bilgiler<br> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <p></p>
  
  <ion-card>
    <ion-searchbar placeholder= "Arama Yap" (ionInput)="getItems($event)" ></ion-searchbar>
    <ion-list class="bg">
      <ion-item *ngFor="let item of items">
        <p class="cevap">{{item}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>