<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="mybold">
      <ion-icon name="information-circle"></ion-icon> Hakkımızda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" padding>

  <ion-card class="kart1">

    <h2>ÖNSÖZ VE TEŞEKKÜRLER</h2>
    <p class="yazi">Öncelikle bize bu çalışma fırsatını veren değerli hocamız Uğur Yıldız hocamıza teşekkürlerimizi sunarız.<br><br>
      Atasagun Umar Kahveci - 171307075<br>
      Fati Gurqiti - 171307076</p>

  </ion-card>

  <br>
  <ion-card class="kart2">

    <h2>HAKKIMIZDA</h2>
    <p class="yazi">Hocamız ile ilk haftadan itibaren<br> projemizi tartışmaya başladık.<br>
      Projede olması gereken şart olan işlevleri projemize uyguladık.<br>
      Daha sonra yapıcağımız projenin konusunu düşündük ve Kan bağışı uygulamasını yapmaya karar verdik.
      Uygulamamızda olması gereken fonksiyonları araştırdık ve her birini github'a aktararak projemizi güncelledik.</p>

  </ion-card>
</ion-content>