<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="mybold">
      <ion-icon name="copy"></ion-icon> Lisanslar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-card>
    <ion-list>

      <ion-item>
        <ion-label>
          <p>Uygulamanın yazılım tasarım<br> ve düzenlenmesi</p>
          <h5 class="cevap"><br>171307075 Atasagun Umar Kahveci<br>
            <br>171307076 Fati Gurqiti<br>
          </h5>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Uygulamada kullanılan iconlar<br></p>
          <h5 class="cevap"><br>Ionic framework iconocs </h5>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Uygulamada Kullanılanın resimler</p>
          <h5 class="cevap"><br>freepik.com </h5>
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>
          <p>Uygulamanın yapıldığı platform</p>
          <h5 class="cevap"><br>Ionic 4</h5>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Uygulamada kullanılan yazılım dilleri</p>
          <h5 class="cevap"><br>HTML<br> CSS<br>JavaScript<br>Angular JavaScript<br>TypeScript<br></h5>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>