.myheader{
  text-align: center;
  --background: linear-gradient(180deg,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#ffffff);
}
.title{
  margin-top: 1%;
  font-size: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;

  text-align: start;
  color:  #ffffff;
}
.mybold{
  color:#000;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.threedot{
  font-size: 140%;
  background: transparent;
  text-align: right;
  color:black;
}
.beyaz{
  --border-radius: 15px;
  color:rgb(255, 255, 255);
  font-size: 16x;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}
ion-card{
  margin: 15px auto;
       
  
       max-width: 100%;
       border-radius : 30px;
       border-top: 3px solid rgb(255, 255, 255);
       border-bottom: 2px solid rgb(255, 255, 255);
       border-right: 2px solid rgb(255, 255, 255);
       border-left: 2px solid rgb(255, 255, 255);
       
  --background:#FBFBFB;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 3em;
font-weight: lighter;
color: #FFF
}

.beyaz2{
  --background: linear-gradient(to right, #FF215D 14%, #FF4D4D 96%);
  --border-radius: 15px;
  color:rgb(255, 255, 255);
  font-size: 16x;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}
.bg{
  --background: linear-gradient(230deg,#FF4A7B,#FF4D4D);
}