.ios .md{

    page-home{
        button{
            padding: 40px;
        }
    }
}
.Baslik{
    text-align: center;
    --background: linear-gradient(180deg,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#ffffff);
     
}
.mybold{
    margin-top: 1%;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

    text-align: center;
    color:  #ffffff;
    
  }

  .KartButon{
    --border-radius: 21px;
    height: 90px;
    width: 26.5%;
    

    margin-left: 55px;
    margin-top: 10px;

    
    --background:rgb(255, 255, 255);
    position: relative;
    z-index: 1;
     
}

.resim{
    display: block;
    height: 70vh;
    width: auto;
    margin: auto;
  }

  ion-card{

         
    
    max-width: 100%;
    border-radius : 15px;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    
--background:rgba(251, 251, 251, 0.219);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 3em;
font-weight: lighter;
color: #FFF
}
.bg{
--background: linear-gradient(230deg,#FF4A7B,#FF4D4D);
}
.res{
height: 70px;
width: 70%;
}
.res1{
height: 65px;
width: 110%;
}
.AltMenu{
color:#FF275B;
}
.bg{
    --background: linear-gradient(230deg,#FF4A7B,#FF4D4D);
  }
.res{
    height: 70px;
    width: 70%;
}
.res1{
    height: 65px;
    width: 180%;
}
.res2{
    height: 65px;
    width: 180%;
}
.AltMenu{
    color:#FF275B;
}