<ion-header no-border>
  <ion-toolbar class="Baslik">
    <ion-title class="mybold">Ana Sayfa</ion-title>
    <ion-menu-button color="light" class="MenuButton"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <img style="margin-top: 20px ;margin-bottom: 35px ; width:130px; height: 130px;" src="../assets/Group 1099.png" class="resim"/>

  <ion-card>

    <p></p>
    <ion-button class="KartButon" href="/kanbagis"><img src="../assets/kan1.png" class="res"></ion-button>
    <ion-button class="KartButon2" href="/kanbagislist"><img src="../assets/Group 1123@2x.png" class="res2"></ion-button>
    <ion-button class="KartButon3" href="/faq"><img src="../assets/Group 1104.png" class="res1"></ion-button>
    <p></p>
  </ion-card>
</ion-content>

<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button>
      <ion-icon name="home" class="AltMenu"></ion-icon>
    </ion-tab-button>


    <ion-tab-button href="/home">
      <ion-icon name="person" class="AltMenu"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>