<ion-header no-border>
  <ion-toolbar class="AnaSayfaBaslik">
    <ion-title class="mybold">Doktor</ion-title>
    <ion-menu-button color="light" class="MenuButton"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <img style="margin-top: 35px ;margin-bottom: 50px ; width:160px; height:160px;" src="../assets/doktor.png"
    class="resim" />

  <ion-card>

    <p></p>
    <ion-button class="KartButon" href="/doktorblooddonors"><img src="../assets/icons8-book.png" class="res">
    </ion-button>

    <ion-button class="KartButon2" href="/giris">

      <ion-icon slot="end" size="medium" name="log-out" class="res"></ion-icon>
    </ion-button>

    <p></p>

  </ion-card>
</ion-content>