.ios .md{

    page-home{
        button{
            padding: 40px;
        }
    }
}
.AnaSayfaBaslik{
    text-align: center;
    --background: linear-gradient(180deg,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B ,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#FF4A7B,#ffffff);
     
}
.mybold{
    margin-top: 1%;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

    text-align: center;
    color:  #ffffff;
    
  }

.resim{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
    height:250px;
    margin-top: -25px;
  }

ion-card{
    margin: 15px auto;
      

         max-width: 99%;
         border-radius : 30px;
         border-top: 1px ;
         border-bottom: 1px  ;
         border-right: 1px  ;
         border-left: 1px ;
         
         --background:rgba(255, 255, 255, 0.308);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: lighter;
  
  height:180px;
  width: 93%;
  
  position: relative;
      z-index: 1;
     
  
  }
.bg{
    --background: linear-gradient(180deg,#FF4A7B,#FF4D4D);
  }
.res{
    height: 60px;
    width: 60%;
    color:#FF5E5E;
}
.iicon{
    color:#FF275B;
  }
  .KartButon{
    --border-radius: 21px;
    height: 80px;
    width: 37%;
    
    margin: 2px auto;
    margin-left: 20px;
    margin-top: -25px;

    font-size: 15%;
    --background:rgb(255, 255, 255);
  
     
}
.KartButon2{
    --border-radius: 21px;
    
    height: 80px;
    width: 37%;

    margin: 2px auto;
    margin-left: 35px;
    margin-right: 2px;
    margin-top: -25px;
   
    
    font-size: 15%;
    --background:rgb(255, 255, 255);
    
}
.cikislabel{
    font-size: 15%;
    color: #FF5E5E;
    margin-top: 10px;
    
}
