.threedot{
    font-size: 140%;
    background: transparent;
    text-align: right;
    color:black;
}
.bg{
    --background: linear-gradient(180deg,#FF217A,#FF4D4D);
  }
  .title{
    text-align: center;
    color: #ffffff;
    font-size: 170%;
    
  }
  .myheader{
    --background: #FF217A;
  }