<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-title class="mybold">Kan Bağışla</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label class="mybold" position="floating">*İsminiz</ion-label>
      <ion-input class="mybold" type="text" placeholder="Kullanıcıların Görebileceği bir İsim"
        [(ngModel)]="KanBagisi.isim"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="mybold" position="floating">*GSM Numaranız</ion-label>
      <ion-input class="mybold" type="number" placeholder="Kullanıcıların size Ulaşabileceği bir Numara"
        [(ngModel)]="KanBagisi.gsm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="mybold" position="floating">*Şube</ion-label>
      <ion-select [(ngModel)]="KanBagisi.konum" placeholder="*Hangi Şehir/Şubesine yakın Olduğunuzu Göstermek için "
        class="mybold">
        <ion-select-option value="Türk Kızılayı KADIKÖY Şubesi">Istanbul</ion-select-option>
        <ion-select-option value="Türk Kızılayı ÇANKAYA Şubesi">Ankara</ion-select-option>
        <ion-select-option value="Türk Kızılayı KARŞIYAKA Şubesi">İzmir</ion-select-option>
        <ion-select-option value="Türk Kızılayı BURSA Şubesi">Bursa</ion-select-option>
        <ion-select-option value="Türk Kızılayı MURATPAŞA Şubesi">Antalya</ion-select-option>
        <ion-select-option value="Türk Kızılayı ADANA Şubesi">Adana</ion-select-option>
        <ion-select-option value="Türk Kızılayı KONYA Şubesi">Konya</ion-select-option>
        <ion-select-option value="Türk Kızılayı ŞANLIURFA Şubesi">Şanlıurfa</ion-select-option>
        <ion-select-option value="Türk Kızılayı GAZİANTEP Şubesi">Gaziantep</ion-select-option>
        <ion-select-option value="Türk Kızılayı İZMİT Şubesi">Kocaeli</ion-select-option>
        <ion-select-option value="Türk Kızılayı SİVAS Şubesi">Sivas</ion-select-option>
        <ion-select-option value="Türk Kızılayı KAYSERİ Şubesi">Kayseri</ion-select-option>
        <ion-select-option value="Türk Kızılayı MUĞLA Şubesi">Muğla</ion-select-option>
        <ion-select-option value="Türk Kızılayı ODUNPAZARI Şubesi">Eskişehir</ion-select-option>
        <ion-select-option value="Türk Kızılayı ADAPAZARI Şubesi">Sakarya</ion-select-option>
        <ion-select-option value="Türk Kızılayı TRABZON Şubesi">Trabzon</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="mybold" position="floating">*Kan Grubunuz</ion-label>
      <ion-select [(ngModel)]="KanBagisi.kgrub" placeholder="*Kullanıcıların Göreceği Kan Grubu" class="mybold">
        <ion-select-option value="A+">A+</ion-select-option>
        <ion-select-option value="0+">0+</ion-select-option>
        <ion-select-option value="B+">B+</ion-select-option>
        <ion-select-option value="AB+">AB+</ion-select-option>
        <ion-select-option value="A-">A-</ion-select-option>
        <ion-select-option value="0-">0-</ion-select-option>
        <ion-select-option value="B-">B-</ion-select-option>
        <ion-select-option value="AB-">AB-</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="bagisla(KanBagisi)" text-capitalize="false" class="beyaz2" style="margin-bottom: 25px"
      expand="block">
      <ion-icon slot="start" size="medium" name="color-filter"></ion-icon>
      Bağışla
    </ion-button>
  </ion-card>
</ion-content>