<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainmenu" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="mybold">Kan Bağışlayanlar<br> Listesi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" padding>
  <ion-card>
    <ion-list lines="inset">
      <ion-item *ngFor="let item of kanbagislistRef$ | async">
        <ion-label>
          <h2> İsmi: {{item.isim}}</h2>
          <h3> Numarası: 0-{{item.gsm}}</h3>
          <h4> Konumu: {{item.konum}}</h4>
          <h5> Kan Grubu: {{item.kgrub}}</h5>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>