<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-title class="mybold">Profil Oluştur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <ion-item>  
            <ion-label class="mybold"   position="floating">*GSM Numaranız</ion-label>
            <ion-input   class="mybold"  type="number" placeholder="Örn: 0532-532-00-00" [(ngModel)]="profile.numara"   ></ion-input>
            </ion-item>
            
            
            <ion-item> 
              <ion-label class="mybold"  position="floating" >*Adınız</ion-label>
              <ion-input class="mybold"  type="text" placeholder="Örn: Salih" [(ngModel)]="profile.ad"  ></ion-input> 
              </ion-item>

              <ion-item> 
                  <ion-label class="mybold"  position="floating" >*Soyadınız</ion-label>
                  <ion-input class="mybold"  type="text" placeholder="Örn: Yılmaz" [(ngModel)]="profile.soyad"  ></ion-input> 
                  </ion-item>

                  <ion-item> 
                      <ion-label class="mybold"  position="floating" >*Doğum Tarihiniz</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"placeholder="Örn: 22/07/1998" class="mybold2"    [(ngModel)]="profile.yas"  ></ion-datetime> 
                      </ion-item>

                      <ion-item> 
                          <ion-label class="mybold"  position="floating" >*Kan Grubunuz</ion-label>
                          <ion-select [(ngModel)]="profile.kan" placeholder="Örn: A+" class="mybold" >
                            <ion-select-option value="A+">A+</ion-select-option>
                            <ion-select-option value="0+">0+</ion-select-option>
                            <ion-select-option value="B+">B+</ion-select-option>
                            <ion-select-option value="AB+">AB+</ion-select-option>
                            <ion-select-option value="A-">A-</ion-select-option>
                            <ion-select-option value="0-">0-</ion-select-option>
                            <ion-select-option value="B-">B-</ion-select-option>
                            <ion-select-option value="AB-">AB-</ion-select-option>
                       </ion-select>
                          </ion-item>

                          <ion-item> 
                              <ion-label  class="mybold"  position="floating" >*Yaşadığınız Şehir</ion-label>
                              <ion-input class="mybold"  type="text" placeholder="Örn: İzmir/Bostancı" [(ngModel)]="profile.sehir"  ></ion-input> 
                              </ion-item>
                              <ion-text  style="margin-bottom: 15px"color="danger">
                                  <h1>                                 </h1>
                                </ion-text>
                              <ion-button (click)="save()" text-capitalize="false" class="beyaz"   color="medium"style="margin-bottom: 25px"   expand="block" >
                                  <ion-icon  slot="start"  size="medium" name="save"></ion-icon>
                                  Kaydet
                                </ion-button>


</ion-card>





</ion-content>
