<ion-header no-border>
  <ion-toolbar class="myheader">
    <ion-title class="mybold">{{(profileData | async)?.ad}} {{(profileData | async)?.soyad}}</ion-title>
    <ion-menu-button class="SideMenuButton" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <img style="margin-top: 16px ; width:150px; height: 150px;"  src="../assets/blood-transfusion.png" class="resim"/>

  <ion-card round class="Card">

    <h1 class="yazi">
      <ion-icon name="phone-portrait"></ion-icon> GSM Numarası : {{(profileData | async)?.numara}}
    </h1>
    <h1 class="yazi">
      <ion-icon name="contact"></ion-icon> Adı : {{(profileData | async)?.ad}}
    </h1>
    <h1 class="yazi">
      <ion-icon name="paper"></ion-icon> Soyadı : {{(profileData | async)?.soyad}}
    </h1>
    <h1 class="yazi">
      <ion-icon name="calendar"></ion-icon> Yaşı : {{(profileData | async)?.yas}}
    </h1>
    <h1 class="yazi">
      <ion-icon name="water"></ion-icon> Kan Grubu : {{(profileData | async)?.kan}}
    </h1>
    <h1 class="yazi">
      <ion-icon name="transgender"></ion-icon> Cinsiyet : {{(profileData | async)?.cinsiyet  }}
    </h1>
    <h1 class="yazi">
      <ion-icon name="business"></ion-icon> Şehir : {{(profileData | async)?.sehir}}
    </h1>

  </ion-card>

</ion-content>
<ion-tabs class="YanMenu">

  <ion-app class="YanMenu">

    <ion-menu side="start" class="YanMenu">

      <ion-header class="YanMenu">
        <!-- Yan menü -->
        <ion-toolbar class="YanMenu">


        </ion-toolbar>
      </ion-header>

      <ion-content class="YanMenu">
        <ion-list class="YanMenu">
          <ion-item class="YanMenu">
            <br>
            <br>
          </ion-item>


          <ion-item class="YanMenu">
            <ion-icon slot="end" size="medium" name="information-circle" color="light"></ion-icon>
            <ion-button href="/about" style="margin-top: 20px" text-capitalize="false" size="medium" color="light"
              expand="block">Hakkımızda</ion-button>

          </ion-item>

          <ion-item class="YanMenu">
            <ion-button href="/lisanslar" style="margin-top: 20px" text-capitalize="false" size="medium" color="light"
              expand="block">Lisanslar</ion-button>
            <ion-icon slot="end" size="medium" name="at" color="light"></ion-icon>
          </ion-item>

          <ion-item class=" YanMenu">
            <ion-button href='/giris' style="margin-top: 20px" text-capitalize="false" size="medium" color="light"
              expand="block">Çıkış Yap</ion-button>
            <ion-icon slot="end" size="medium" name="log-out" color="light"></ion-icon>
          </ion-item>


        </ion-list>
      </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/mainmenu">
      <ion-icon name="home" class="iicon"></ion-icon>
    </ion-tab-button>


    <ion-tab-button>
      <ion-icon name="person" class="iicon"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>